@use "custom.values.scss" as cv;

html,
body {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: cv.$font-family-sb;
  src: local(cv.$font-family-sb),
    url(../fonts/HurmeGeometricSans1SemiBold.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: cv.$font-family-r;
  src: local(cv.$font-family-r),
    url(../fonts/HurmeGeometricSans1.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: cv.$font-family-o;
  src: local(cv.$font-family-o),
    url(../fonts/HurmeGeometricSans1LightOblique.otf) format("opentype");
  font-display: swap;
}

* {
  font-family: cv.$font-family-sb;
}

*:focus {
  outline: none;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  font-family: cv.$font-family-o;
  cursor: pointer !important;
}

li {
  color: inherit;
  text-decoration: none;
  outline: none;
  font-family: cv.$font-family-o;
}

* a {
  box-sizing: border-box;
}

p {
  line-height: 18px;
  text-align: left;
  font-family: cv.$font-family-o;
  margin: 0;
  letter-spacing: 0cm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: cv.$letter-spacing;
}

h1 {
  font-size: 27px;
  margin: 0;
}
h2,
h3,
h4,
h5 {
  margin: 0;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
  font-family: cv.$font-family-r;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
@media screen and (min-width: 740px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }
}

img {
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
